<h2>Customers</h2>

<div class="container">
    <input id="searchField" type="text" value="" placeholder="Search by id, name, age, city"/>
    <button class="fas fa-search" (click)="searchCustomers()" formtarget="_blank">Search</button><br><br>
</div>

<div id="grid-angular">
<ag-grid-angular
    style="width: 100%; height: 472px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>
</div>
    <button id="fetchNextbutton" class="fas fa-forward" (click)="fetchNext()"> </button>&nbsp;
    <button id="fetchPreviousbutton" class="fas fa-backward" (click)="fetchPrevious()"></button>

<router-outlet></router-outlet>