<h2>Customers</h2>

<input id="searchField" type="text" style="width: 50%;" value="" placeholder="Search by id, name, age, city"/>
 <button class="fas fa-search" (click)="searchCustomers()" formtarget="_blank">Search</button><br><br>

<div style="height: 100%;width: 100%;">
<ag-grid-angular
    style="width: 100%; height: 255px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [frameworkComponents]="frameworkComponents"
>
</ag-grid-angular>
</div>
    <button class="fas fa-forward" style="float: right;margin-top: 5px;min-width: 2.25em;"(click)="fetchNext()"> </button>&nbsp;
    <button class="fas fa-backward" style="float: right;margin-top: 5px;min-width: 2.25em;"(click)="fetchPrevious()"></button>

<router-outlet></router-outlet>