<br>
<span>You are editing the customer: </span>{{ selected_customer.id }} - {{ selected_customer.name }}

<div class="container">
    <label>ID</label>
    <input type="text" id="" [(ngModel)]="selected_customer.id" readonly> <br> 
    <label>Name</label>
    <input type="text" [(ngModel)]="selected_customer.name"> <br> 
    <label>Age</label>
    <input type="text" [(ngModel)]="selected_customer.age"> <br> 
    <label>City</label>
    <input type="text" [(ngModel)]="selected_customer.city"> <br> 
    <button (click)="updateCustomer()" class="button primary">Save</button>&nbsp;
    <button (click)="cancelCustomer()" class="button" >Cancel</button>
</div>